* {
    margin: 0;
}

body {
    background-color: rgb(30, 30, 30);
    user-select: none;
}

.center-div {
    padding: 5em 7.5% 0 7.5%;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100dvh;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    font-family: sans-serif;
    color: white;
}

h2 {
    margin-top: 3em;
}

h3 {
    margin-bottom: 1em;
    margin-top: auto;
}