* {
    margin: 0;
}

body {
    background-color: rgb(30, 30, 30);
    user-select: none;
}

.center-div {
    padding: 2em 7.5% 0 7.5%;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100dvh;
    width: 100%;
    box-sizing: border-box;
}

.form-element {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: auto;
}

select,
input {
    padding: 0;
    font-size: 1.5em;
    box-sizing: content-box;
    width: 100%;
    background-color: rgb(50, 50, 50);
    outline: none;
    border:rgb(70, 70, 70) solid 0.2em;
    border-radius: 0.3em;
    height: 2em;
    color: white;
    transition: border-color 0.2s;
    &:focus {
        border-color: rgb(130, 130, 130);
    }
}

label {
    color: white;
    font-size: 2em;
    font-family: sans-serif;
    text-align: center;
}

button {
    box-sizing: content-box;
    padding: 0;
    margin-bottom: 1em;
    margin-top: auto;
    height: 2em;
    font-size: 1.5em;
    background-color: rgb(252, 236, 18);
    outline: none;
    border: 0.2em solid rgb(252, 236, 18);
    border-radius: 0.3em;
    cursor: pointer;
    color: black;
    width: 100%;
}

button:hover {
    background-color: rgb(252, 242, 106);
}