* {
    margin: 0;
    
}

body {
    background-color: rgb(30, 30, 30);
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.center-div {
    margin-top: 2em;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100svh; /*@Felixion Bitte so lassen.*/
}

select,
input {
    background-color: rgb(50, 50, 50);
    outline: none;
    border:rgb(70, 70, 70) solid 0.2em;
    border-radius: 0.3em;
    width: 80%;
    height: 2em;
    font-size: 1.5em;
    color: white;
    transition: border-color 0.2s ease-in-out;
    &:focus {
        border-color: rgb(130, 130, 130);
    }
    margin-bottom: 3em;
}

label {
    color: white;
    font-size: 2em;
    font-family: sans-serif;
}

button {
    margin-top: auto;
    margin-bottom: 2em;
    width: 90dvw;
    height: 3em;
    font-size: 1.5em;
    background-color: rgb(252, 236, 18);
    outline: none;
    border: 0.1em solid rgb(252, 236, 18);
    border-radius: 0.3em;
    cursor: pointer;
    color: black;
}

button:hover {
    background-color: rgb(252, 242, 106);
}

select {

}